.image_consistency {
    height:200px;
}

.image_consistency_button {
    height:50px;
}

.image_consistency_contact_bar {
    height:40px;
}

#image_consistency_contact_bar_home {
    height:58px;
}

.image_consistency_brand {
    height:220px;
}